@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    background-color: #24252A;
    
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;

}
.logo{
    cursor: pointer;
    height: 80px;
    width: 80px;

}

.nav_links{
    list-style: none;
    cursor: pointer;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

.navbutton button{
    padding: 9px 25px;
    background-color:rgb(255, 38, 0);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.navbutton button:hover{
    background-color: rgba(0,136,169,0.8);
    
}

.container{
    padding: 20px 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.findonmap{
    
    background-color: #333;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    
}

.contact{
    
    background-color: #333;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    transition: linear 2s;
}



.contact h2{
    margin: 30px;
    
    
}

.contact p{
    margin-top: 20px;
    
}

.findadonar{
    
    background-color: #333;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    
    
}

.findadonar input{
    border: none;
    font-size: 20px;
    margin: 10px;
    outline: none;
    padding: 5px;
    
    
    border-radius: 10px;
}

.findadonar button{
    margin-top: 20px;
    padding: 9px 30px;
    background-color: rgb(255, 38, 0);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    justify-content: space-around;
    display: inline-flex;


}

.findadonar button:hover{
    background-color: rgba(0,136,169,0.8);
    

}

.finddonarclosecross{
    text-align: end;

}

.finddonarclosecross button{
    color: white;
    font-size: 25px;
    border: none;
    background-color:#333;
    
    cursor: pointer;
    
}


.becomeadonar{
    
    background-color: #333;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    
}

.bdonarclosecross{
    text-align: end;

}

.bdonarclosecross button{
    color: white;
    font-size: 25px;
    border: none;
    background-color: none;
    cursor: pointer;
    
}


.becomeadonar input{
    border: none;
    font-size: 20px;
    margin: 10px;
    outline: none;
    padding: 5px;
    border-radius: 10px;
}

.becomeadonar button{
    margin-top: 20px;
    padding: 9px 30px;
    background-color: rgb(255, 38, 0);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    justify-content: space-around;
    display: inline-flex;


}

.becomeadonar button:hover{
    background-color: rgba(0,136,169,0.8);
    

}

.disease ul{
    list-style: none;

}
















.findblood{
    
    background-color: #333;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    transition: linear 1s;
    

}

.findblood button{
    margin-top: 20px;
    padding: 9px 30px;
    background-color: rgb(255, 38, 0);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    justify-content: space-around;
    display: inline-flex;


}

.findblood button:hover{
    background-color: rgba(0,136,169,0.8);
    
}

.findblood h3{
    margin-top: 10px;
    
}
.selectcity{
    margin-top: 20px;
    font-size: 20px;
    width: 90%;
    background-color:#333;
    height: 90%;
    
    
}

.hidden{
    display: none;
}

.selectcity input{
    border: none;
    font-size: 20px;
    margin: 10px;
    outline: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}



  
.completedata{
    background-color: white;
    color: black;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 10px;

}

.cross{
    text-align: end;

}

.cross button{
    color: black;
    font-size: 50px;
    border: none;
    background-color: white;
    
    cursor: pointer;
    
}

.searchresult{
    font-weight: 600;
    font-size: 25px;
}

.datacenter{
    font-size: 15px;
    background-color: whitesmoke;
    margin-top: 10px;
    border-radius: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

.datacenter p {
    margin-top: 5px;
}

.datacenter button{
    color: white;
    background-color: rgb(255, 38, 0);
    border: none;
    outline: none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.datacenter button:hover{
    background-color: rgba(0,136,169,0.8);
}


.mapclosecross{
    text-align: end;

}

.mapclosecross button{
    color: white;
    font-size: 25px;
    border: none;
    background-color:#333;
    
    cursor: pointer;
    
}

.map{
    padding: 20px;
    margin-top: 10px;
}

.checkbox ul{
    list-style: none;
}

.map{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

